<tr {{action "viewRecord" identifier}} {{bind-attr class="isError:danger isWarning:warning isNormal:success"}}>

  <td><!-- {{identifier}} -->{{name}}</td>
  <td>{{description}}</td>
  {{#if hasRecords}}
    <td>{{lastLoggedTime}}</td>
    <td>{{status}}</td>
    <td>{{average}}</td>
    <td>{{lastResponseType}}</td>
  {{else}}
    <td colspan="4">
      This monitor has not generated any records yet.
    </td>
  {{/if}}
  <td>
    {{#if isError}}
      <button class="btn btn-default btn-xs" {{action "resetAlarm"}}>reset</button>
    {{/if}}
  </td>
</tr>
