<tr {{action "viewRecord" id on="click" target="view"}} {{bind-attr class="isError:danger isWarning:warning isNormal:success"}}>
  <td>{{id}}</td>
  <td>{{serviceName}}</td>
  <td>{{lastLoggedTime}}</td>
  <td>{{status}}</td>
  <td>{{average}}</td>
  <td>{{lastResponseType}}</td>
  <td>
    {{#if isError}}
      <button class="btn btn-default btn-xs" {{action "reset" id}}>reset</button>
    {{/if}}
  </td>
</tr>
