<tr {{bind-attr class="isError:danger isWarning:warning isNormal:success"}}>
	<td>{{#link-to 'monitor' id}} {{id}} {{/link-to}}</td>
	<td>{{serviceName}}</td>
	<td>{{lastLogged}}</td>
	<td>{{status}}</td>
	<td>BUTTONS TKTKTK</td>
</tr>