<tr {{action "doStuff" id on="click"}} {{bind-attr class="isError:danger isWarning:warning isNormal:success"}}>
	<td>{{id}}</td>
	<td>{{serviceName}}</td>
	<td>{{lastLoggedTime}}</td>
	<td>{{status}}</td>
{{#if isError}}
	<td>{{#link-to 'monitor.reset' id class="btn btn-default btn-xs"}}reset{{/link-to}}</td>
{{else}}
	<td>{{average}}</td>
	<td>{{lastResponseType}}</td>
{{/if}}
</tr>
