<div {{bind-attr class=":panel isError:panel-danger isWarning:panel-warning isNormal:panel-success"}}>
  <div class="panel-heading">
  {{#if isExpanded}}
    <button class="btn btn-default btn-xs pull-right" {{action 'contract'}}><i class="glyphicon glyphicon-chevron-up"></i></button>
  {{else}}
    <button class="btn btn-default btn-xs pull-right" {{action 'expand'}}><i class="glyphicon glyphicon-chevron-down"></i></button>
  {{/if}}
    {{#if hasActiveAlerts}}
      <span data-toggle="tooltip" data-placement="bottom" title="Alert!" class="floated-icon pull-right glyphicon glyphicon-exclamation-sign has-tooltip"></span>
    {{/if}}
    <h3 class="panel-title">{{serviceName}}</h3>
  </div>

{{#if isExpanded}}

  <div class="panel-body">

    {{#if hasActiveAlerts}}
		{{#each alerts}}
		{{#if active}}
    {{partial "alertShort"}}
		{{/if}}
		{{/each}}
		{{/if}}



  </div>
  <div class="panel-footer">
    <table class="table table-condensed table-responsive">

      <tr>
        <td>Last Logged:</td>
        <td>{{lastLoggedTime}}</td>
        <td>Status:</td>
        <td>{{status}}</td>
      </tr>

    </table>

    <table class="table table-condensed table-responsive">

      <tr>
        <td class="text-right">Duration:</td>
        <td>{{lastLoggedDuration}}</td>
        <td class="text-right">Response Type:</td>
        <td>{{lastResponseType}}</td>
      </tr>

    </table>

    <table class="table table-condensed table-responsive">

      <tr>
        <td class="text-right">Records:</td>
        <td>{{recordCount}}</td>
        <td class="text-right">Avg. Dur:</td>
        <td>{{average}}</td>
        <td class="text-right">Max Dur:</td>
        <td>{{maxDuration}}</td>
        <td class="text-right">Min Dur:</td>
        <td>{{minDuration}}</td>
      </tr>

    </table>

  </div>

  {{/if}}

</div>