            <section class="row" id="reports">
							<div class="md-col-12">

              <div class="btn-group pull-right">
							  <button type="button" {{bind-attr class=":btn :btn-default gridView:active"}} {{action 'showGridView'}}><i class="glyphicon glyphicon-th"></i></button>
							  <button type="button" {{bind-attr class=":btn :btn-default tableView:active"}} {{action 'showTableView'}}><i class="glyphicon glyphicon-th-list"></i></button>
							</div>

							<h1 class="page-header">Monitors</h1>

{{#if gridView}}
<div id="monitor-cards">
<h2>cards</h2>

{{#each monitor in errors}}

<div class="col-md-6">
{{render "monitorCard" monitor}}
</div>

{{/each}}

{{#each monitor in warnings}}

<div class="col-md-6">
{{render "monitorCard" monitor}}
</div>

{{/each}}

{{#each monitor in normals}}

<div class="col-md-6">
{{render "monitorCard" monitor}}
</div>

{{/each}}

</div>
{{else}}






{{#if errorCount}}
              <table class="table table-striped table-hover">

                <caption><h2 class="text-left">Service Errors</h2></caption>

                <thead>
                  <tr><th>ID</th><th>Service Name</th><th>Last Logged At</th><th>Status</th><th>Reset</th></tr>
                </thead>

                <tfoot>
                  <tr>
                    <td colspan="5" class="text-right">Showing {{errorCount}} monitors.</td>
                  </tr>
                </tfoot>

                <tbody>
{{view Canary.ErrorMonitorTableRowView}}
                </tbody>

              </table>
{{/if}}
{{#if warnCount}}
              <table class="table table-striped table-hover">

                <caption><h2 class="text-left">Service Warnings</h2<</caption>

                <thead>
                  <tr><th>ID</th><th>Service Name</th><th>Last Logged At</th><th>Status</th><th>Average</th><th>Response</th></tr>
                </thead>

                <tfoot>
                  <tr>
                    <td colspan="6" class="text-right">Showing {{warnCount}} monitors.</td>
                  </tr>
                </tfoot>

                <tbody>
{{view Canary.WarningMonitorTableRowView}}
                </tbody>

              </table>
{{/if}}
              <table class="table table-striped table-hover">

                <caption><h2 class="text-left">Normal Services</h2class="text-left"></caption>

                <thead>
                  <tr><th>ID</th><th>Service Name</th><th>Last Logged At</th><th>Status</th><th>Average</th><th>Response</th></tr>
                </thead>

                <tfoot>
                  <tr>
                    <td colspan="6" class="text-right">Showing {{normalCount}} monitors.</td>
                  </tr>
                </tfoot>

                <tbody>
{{view Canary.NormalMonitorTableRowView}}
                </tbody>

              </table>
{{/if}}
							</div
            </section>