<section id="reports">

	<div class="row">
		<div class="col-md-12">
			<h1 class="page-header">{{serviceName}}</h1>
		</div>
	</div> <!-- /row -->

	<div class="row">

		<div class="col-md-8 col-md-push-4">
			{{#if hasRecords}}
				{{render "chart" controller hideLabels=false}}
			{{else}}
				<div class="alert alert-info">
          <p>This monitor has not generated any records yet.</p>
        </div>
			{{/if}}
		</div>

		<div class="col-md-4 col-md-pull-8">

			<div class="panel panel-default">

				<div class="panel-heading">
					<h2>Monitor Status</h2>
				</div>

				<div class="panel-body">

					{{#if isError}}
						<div class="alert alert-danger">
							<p class="text-center">Monitor has paused polling due to errors.<br><button {{action "reset" id}} class="btn btn-default btn-sm">reset</button></p>
						</div>
					{{/if}}

					<h3>Status</h3>
					{{#if hasRecords}}
						<dl class="dl-horizontal">
							<dt>Current Status</dt>
							<dd>{{status}}</dd>
							<dt>Last Logged</dt>
							<dd>{{lastLoggedTime}}</dd>
							<dt>Latest Duration</dt>
							<dd>{{lastLoggedDuration}}</dd>
							<dt>Latest Response Type</dt>
							<dd>{{lastResponseType}}</dd>
							<dt>Records Stored</dt>
							<dd>{{records.records.length}}</dd>
							<dt>Average Duration</dt>
							<dd>{{average}}</dd>
							<dt>Max Duration</dt>
							<dd>{{maxDuration}}</dd>
							<dt>Min Duration</dt>
							<dd>{{minDuration}}</dd>
						</dd>
					{{else}}
						<div class="alert alert-info">
			        <p>This monitor has not generated any records yet.</p>
			      </div>
					{{/if}}

					<hr>

					<h3>Configuration</h3>
					<dl class="dl-horizontal">
						<dt>Alarm Criteria</dt>
						<dd>{{alarmThreshold}} {{alarmCriteria}}</dd>
						<dt>Alarm Condition</dt>
						<dd>{{maxExecutionTime}} ms</dd>
						<dt>Polling Interval</dt>
						<dd>{{pollInterval}} {{pollIntervalUnit}}</dd>
						<dt>Persist on Alarm?</dt>
						<dd>{{persistWhenAlarmed}}</dd>
						{{#if resetCriterialDefined}}
							<dt>Reset Criteria</dt>
							<dd>{{resetInterval}} {{resetIntervalUnit}}</dd>
						{{else}}
							<dt>Reset Criteria</dt>
							<dd>Not Configured</dd>
						{{/if}}
						<dt>Maximum Records</dt>
						<dd>{{maxNumberOfRecords}}</dd>
					</dd>



				</div>
			</div>
		</div>

	</div> <!-- /row -->

	<div class="row">
		<div class="col-md-12">
			<div class="table-responsive">
				<h2>Records</h2>
				{{#if hasRecords}}
				  <table class="table table-condensed table-striped table-hover">
						<tbody>
						<tr>
							<th>Start Time</th>
							<th>End Time</th>
							<th>Duration (ms)</th>
							<th>Message</th>
							<th>Excused</th>
							<th>Response Type</th>
						</tr>
						{{#each records.records}}
							<tr>
								<td>{{startTime}}</td>
								<td>{{endTime}}</td>
								<td>{{duration startTime endTime}}</td>
								<td>{{message}}
								{{#if message}}
									{{message}}
								{{else}}
								 	--
								{{/if}}
								</td>
								<td>{{excused}}</td>
								<td>{{responseType}}</td>
							</tr>
						{{/each}}
						</tbody>
				  </table>
			 {{else}}
					<div class="alert alert-info">
		        <p>This monitor has not generated any records yet.</p>
		      </div>
				{{/if}}
			</div>
		</div>
	</div> <!-- /row -->

</section>