<section class="row" id="reports">
  <div class="md-col-12">

    <div class="btn-group pull-right">
      <button type="button" {{bind-attr class=":btn :btn-default showGridView:active"}} {{action 'showGridView'}}><i class="glyphicon glyphicon-th"></i></button>
      <button type="button" {{bind-attr class=":btn :btn-default showGridView::active"}} {{action 'showTableview'}}><i class="glyphicon glyphicon-th-list"></i></button>
    </div>

    <h1 class="page-header">Monitors</h1>

      {{#if showGridView}}

        <div id="monitor-cards">

          {{#each monitor in errors}}

            <div class="col-md-6">
              {{partial "monitorCard"}}
            </div>

          {{/each}}

          {{#each monitor in warnings}}

            <div class="col-md-6">
              {{partial "monitorCard"}}
            </div>

          {{/each}}

          {{#each monitor in normals}}

            <div class="col-md-6">
              {{partial "monitorCard"}}
            </div>

          {{/each}}

        </div>

      {{else}}

        {{#if errorCount}}
          <table class="table table-striped table-hover">
            <caption><h2 class="text-left">Service Errors</h2></caption>
            <thead><tr><th>ID</th><th>Service Name</th><th>Last Logged At</th><th>Status</th><th>Average</th><th>Response</th><th>&nbsp;</th></tr></thead>
            <tfoot><tr><td colspan="5" class="text-right">Showing {{errorCount}} monitors.</td></tr></tfoot>
            <tbody>
              {{#each errors}}
                {{partial "monitorTableRow"}}
              {{else}}
                {{partial "monitorTableIfEmpty"}}
              {{/each}}
            </tbody>
          </table>
        {{/if}}

        {{#if warnCount}}
        <table class="table table-striped table-hover">
        <caption><h2 class="text-left">Service Warnings</h2<</caption>
          <thead><tr><th>ID</th><th>Service Name</th><th>Last Logged At</th><th>Status</th><th>Average</th><th>Response</th></tr></thead>
          <tfoot><tr><td colspan="6" class="text-right">Showing {{warnCount}} monitors.</td></tr></tfoot>
          <tbody>
            {{#each warnings}}
              {{partial "monitorTableRow"}}
            {{else}}
              {{partial "monitorTableIfEmpty"}}
            {{/each}}
          </tbody>
        </table>
      {{/if}}

      <table class="table table-striped table-hover">
        <caption><h2 class="text-left">Normal Services</h2class="text-left"></caption>
        <thead><tr><th>ID</th><th>Service Name</th><th>Last Logged At</th><th>Status</th><th>Average</th><th>Response</th></tr></thead>
        <tfoot><tr><td colspan="6" class="text-right">Showing {{normalCount}} monitors.</td></tr></tfoot>
        <tbody>
          {{#each normals}}
            {{partial "monitorTableRow"}}
          {{else}}
            {{partial "monitorTableIfEmpty"}}
          {{/each}}
        </tbody>
      </table>

    {{/if}}

  </div> <!-- md-col-12 -->

</section>