<section class="row" id="reports">
	<div class="col-md-12">
		<h1 class="page-header">{{serviceName}}</h1>
		<dl>
			<dt>Status</dt>
			<dl>{{status}}</dl>
			<dt>Last Logged</dt>
			<dl>{{lastLoggedTime}}</dl>
		</dl>
{{#if alerts}}
		<h3>alerts</h3>
		<ul>
		{{#each alerts}}
			<li>{{id}} - {{title}}</li>
		{{/each}}
		</ul>
{{/if}}

<hr>

<div class="row">
	<div class="col-md-12">
		
	</div>
</div>

<hr>
		

{{render "records" records}}

<hr>
		
</section>
            <h1>AVERAGE: {{average}}</h1>