            <section class="row" id="reports">

              <h1 class="page-header">Search Monitors</h1>

							<table class="table table-striped table-hover">
                <caption><h2 class="text-left">Search Term: '{{search}}'</h2class="text-left"></caption>

                <thead><tr><th>Identifier</th><th>Service Name</th><th>Last Logged At</th><th>Status</th><th>Response</th></tr></thead>

                <tfoot>
                  <tr>
                    <td colspan="6" class="text-right">Showing {{length}} monitors.</td>
                  </tr>
                </tfoot>

                <tbody>
									{{#each}}
										<tr {{action "viewRecord" identifier}} {{bind-attr class="isError:danger isWarning:warning isNormal:success"}}>
											<td>{{identifier}}</td>
											<td>{{name}}</td>
											<td>{{lastLoggedTime}}</td>
											<td>{{status}}</td>
											<td>{{lastResponseType}}</td>
										</tr>
									{{else}}
										{{partial "monitorTableIfEmpty"}}
									{{/each}}
                </tbody>

              </table>

            </section>